*.log
*.out
*.time
*.lock
*.o
*.mod
*.swp
*.pyc
*.lst
*.nc
*.pe[0-9]*
*~
/ncepgfs_wrf/
/ncepgfs_scale/
/ncepgfs_grads/
/ncepgfs*/[0-9]*
/ncepgfs*/mtime
/ncepgfs*/auth.rda_ucar_edu
/ncepgfs/ctl/
/ncepgdas*/[0-9]*
/ncepgdas*/mtime
/ncepgdas*/auth.rda_ucar_edu
/ncepgdas/ctl/
/ncepobs*/[0-9]*
/ncepobs*/mtime
/ncepobs*/run/*/dec_prepbufr
/ncepobs*/run/*/prepbufr.in
/ncepgfs/run/*/MIPAS/
/ncepgfs/run/*/Makefile
/ncepgfs/run/*/PARAG.29
/ncepgfs/run/*/PARAPC.29
/ncepgfs/run/*/VARDATA.RM29
/ncepgfs/run/*/init.conf
/ncepgfs/run/*/param.bucket.conf
/ncepgfs/run/*/rad_o3_profs.txt
/ncepgfs/run/*/scale-les
/ncepgfs/run/*/scale-les_init
/ncepgfs/run/*/scale-les_pp
/ncepgfs/run/*/wrfout_00000
/ncepgfs/run/*/FILE:*
/ncepgfs/run/*/GRIBFILE.*
/ncepgfs/run/*/README
/ncepgfs/run/*/Vtable
/ncepgfs/run/*/clean
/ncepgfs/run/*/compile
/ncepgfs/run/*/configure*
/ncepgfs/run/*/geogrid.exe
/ncepgfs/run/*/geogrid/
/ncepgfs/run/*/link_grib.csh
/ncepgfs/run/*/metgrid.exe
/ncepgfs/run/*/metgrid/
/ncepgfs/run/*/namelist.wps*
/ncepgfs/run/*/rm_terrain/
/ncepgfs/run/*/rmter.exe
/ncepgfs/run/*/ungrib.exe
/ncepgfs/run/*/ungrib/
/ncepgfs/run/*/CAM*
/ncepgfs/run/*/CCN*
/ncepgfs/run/*/CLM*
/ncepgfs/run/*/ETAMPNEW*
/ncepgfs/run/*/*.TBL
/ncepgfs/run/*/*.tbl
/ncepgfs/run/*/README*
/ncepgfs/run/*/RRTMG*
/ncepgfs/run/*/RRTM*
/ncepgfs/run/*/aerosol*.formatted
/ncepgfs/run/*/bulkdens.*
/ncepgfs/run/*/bulkradii.*
/ncepgfs/run/*/*.asc
/ncepgfs/run/*/co2_trans
/ncepgfs/run/*/grib2map.tbl
/ncepgfs/run/*/gribmap.txt
/ncepgfs/run/*/kernels.*
/ncepgfs/run/*/namelist.input*
/ncepgfs/run/*/namelist.output
/ncepgfs/run/*/ndown.exe
/ncepgfs/run/*/ozone*.formatted
/ncepgfs/run/*/real.exe
/ncepgfs/run/*/rsl.error.*
/ncepgfs/run/*/rsl.out.*
/ncepgfs/run/*/tc.exe
/ncepgfs/run/*/termvels.asc
/ncepgfs/run/*/tr49t67
/ncepgfs/run/*/tr49t85
/ncepgfs/run/*/tr67t85
/ncepgfs/run/*/wrf.exe
/ncepgfs/run/*/wrfinput_d*
/exp
/station/ANN-160208/features/
/station/ANN-160208/forecast/
/TRASH
